<div class="columns">
    <div class="column">
        <h2 class="title is-2">Messages</h2>
    </div>
</div>

<div class="columns">
    <div class="column">
        {% if messages %}
            {% for message in messages %}
                <article class="message is-success">
                    <div class="message-header">
                        <p>Nice!</p>
                    </div>
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </div>
</div>